// Place all the styles related to the Notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*header */
html,body {
    background-color: #E0DCCA;
}

#note_title {
   width: 30%;
   height: 40%
}


.title {
  text-align: center;
  font-family: "Helvetica Neue", Arial, sans-serif;
  color: #1F1D66
}

.newbutton {
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.3em 0.3em 0;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    background-color:#4eb5f1;
    text-align:center;
    transition: all 0.2s
}

/*body*/

ul {
  text-align: center;
  list-style-type: none;
  display: block
}

li {
  padding: 5px;
}

.whitewash {
  display: inline-block;
  background-color: #FFFFFF;
  padding: 8px;
  margin: 0 5px 5px 0;
  border-radius: 5px

}

.notes {
  padding-top: 10px
}

.box  {
    margin: 5px;
    width: 214px;
}

.box img {
    width: 100%;
}
